body {
  background-image: url("/img/1.jpg");
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.container {
  height: 100%;
  max-width: 60%;
  background: blueviolet;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 5px 5px 15px 5px #424242;
          box-shadow: 5px 5px 15px 5px #424242;
}

.header-block {
  text-transform: uppercase;
  border-bottom: 2px solid white;
  padding-bottom: 3px;
  font-weight: bold;
}

.content-block {
  padding: 15px 0px;
}

.element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.element .element-icon i {
  height: 10px;
  width: 10px;
}

.element .element-text {
  font-size: 15px;
  padding-left: 20px;
  padding-bottom: 5px;
}

.element .element-text::-moz-selection {
  color: grey;
  background: white;
}

.element .element-text::selection {
  color: grey;
  background: white;
}

.element .element-text a {
  text-decoration: none;
  color: white;
}

.element .element-text a:hover {
  color: grey;
}

.bottom-line {
  background-color: #2b273b;
  height: 2px;
  width: 110px;
}

.main_left-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30%;
          flex: 1 1 30%;
  padding: 30px;
  background-color: #2b273b;
  color: aliceblue;
}

.main_left-block .wrapper-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 30px;
}

.main_left-block .wrapper-photo img {
  border-radius: 40%;
  border: 3px solid #f1eded;
  height: 150px;
  width: 155px;
}

.main_left-block .wrapper-photo img:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.main_left-block .wrapper-languages .padding-top {
  padding-top: 20px;
}

.main_right-block {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 70%;
          flex: 1 1 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
}

.main_right-block .fullname-and-position-block {
  padding: 40px 30px 30px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #949c9c;
}

.main_right-block .fullname-and-position-block .fullname {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 40px;
  letter-spacing: 2px;
  color: white;
  font-weight: 700;
}

.main_right-block .fullname-and-position-block .position {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  color: #2b273b;
  padding-top: 15px;
  font-weight: 900;
}

.main_right-block .fullname-and-position-block .line {
  height: 3px;
  width: 60%;
  background-color: white;
}

.main_right-block .other-info-block {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px;
  color: #2b273b;
}

.main_right-block .other-info-block .content {
  padding-left: 20px;
}

.main_right-block .other-info-block .content .institution {
  font-weight: bold;
  font-size: 18px;
  padding-top: 10px;
}

.main_right-block .other-info-block .content .description {
  font-size: 15px;
}

.main_right-block .other-info-block .content .description .years {
  font-weight: bold;
}

.main_right-block .other-info-block .content .description .position {
  font-style: italic;
}

.main_right-block .other-info-block .header-block {
  font-weight: 900;
}

.main_right-block .other-info-block .introduction-block {
  font-size: 16px;
  font-weight: bold;
  color: #2b273b;
}

.main_right-block .other-info-block .introduction-block i {
  padding-right: 10px;
}

.main_right-block .other-info-block .education-block {
  padding-top: 25px;
}

.main_right-block .other-info-block .experience-block {
  padding-top: 25px;
}
