body {
  background: rgb(252, 255, 244);
  background: -moz-linear-gradient(top, rgb(252, 255, 244) 0%, rgb(223, 229, 215) 40%, rgb(179, 190, 173) 100%);
  background: -webkit-linear-gradient(top, rgb(252, 255, 244) 0%, rgb(223, 229, 215) 40%, rgb(179, 190, 173) 100%);
  background: linear-gradient(to bottom, rgb(252, 255, 244) 0%, rgb(223, 229, 215) 40%, rgb(179, 190, 173) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.container {
  height: 100vh;
  min-width: 50%;
  background: blueviolet;
  display: flex;
}

.main_left-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 35%;
  padding: 30px;
  background-color: rgb(78, 77, 77);
  color: aliceblue;

  .wrapper-photo {
    display: flex;
    justify-content: center;
    border: 2px solid blueviolet;
    img {
      border-radius: 50%;
      border: 3px solid rgb(241, 237, 237);
      height: 130px;
      width: 135px;
    }
  }
  .wrapper-contact-info {
    //    border: 2px solid blueviolet;
    .header-block {
      text-transform: uppercase;
      border-bottom: 2px solid white;
      padding-bottom: 3px;
      font-weight: bold;
    }
    .content-block {
      padding: 15px 0px;
      .contact {
        display: flex;
        .contact-icon {
        }
        .contact-text {
          font-size: 15px;
          padding-left: 20px;
          padding-bottom: 5px;
          &::selection  {
              color: grey; 
              background: white; 
          }
          a {
            text-decoration: none;
            color: white;
            &:hover {
              color: grey;
            }
          }
        }
      }
    }
  }
  .wrapper-technologies {
    border: 2px solid blueviolet;
  }
  .wrapper-languages {
    border: 2px solid blueviolet;
  }
}

.main_right-block {
  flex: 1 1 65%;
  background-color: white;
}
