body {
  background: rgb(252, 255, 244);
  background: -moz-linear-gradient(top, rgb(252, 255, 244) 0%, rgb(223, 229, 215) 40%, rgb(179, 190, 173) 100%);
  background: -webkit-linear-gradient(top, rgb(252, 255, 244) 0%, rgb(223, 229, 215) 40%, rgb(179, 190, 173) 100%);
  background: linear-gradient(to bottom, rgb(252, 255, 244) 0%, rgb(223, 229, 215) 40%, rgb(179, 190, 173) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );

  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  height: 100vh;
  min-width: 50%;
  background: blueviolet;
  display: flex;
}

.main_left-block {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1 1 35%;
  padding: 0px 30px;
  background-color: rgb(78, 77, 77);
  .wrapper-photo {
    display: flex;
    justify-content: center;
    img {
      border-radius: 50%;
      border: 3px solid rgb(241, 237, 237);
      height: 130px;
      width: 135px;
    }
  }
  .wrapper-contact-info {
  }
  .wrapper-technologies {
  }
  .wrapper-languages {
  }
}

.main_right-block {
  flex: 1 1 65%;
  background-color: white;
}
